<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ately - Minimal Portfolio Ecommerce Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- header start -->
        <% include partials/header.ejs %>
		<!-- header end -->
		<!-- Start Offset Wrapper -->
        <div class="body__overlay"></div>
        <div class="offset__wrapper">
            <!-- Start Offset MEnu -->
            <% include partials/offsetmenu.ejs %>
            <!-- end offset menu -->
        </div>
		<!-- slider start -->
		<div class="slider-area-three bg-img" style="background-image:url(assets/img/slider/3.jpg);">
            <div class="container">
                <div class="slider-content-3 text-center">
                    <h2>Kreativist</h2>
                </div>
            </div>
		</div>
		<!-- slider end -->
		<!-- portfolio area start -->
		<div class="portfolio-area portfolio-area-three">
            <div class="portfolio-menu-active mb-50 text-center portfolio-menu-style">
                <button class="active" data-filter="*">Alt</button>
				<% for(var i = 0; i < data.allCategories.length; i++){ %>
					<button data-filter=".cat-<%= data.allCategories[i].id %>"><%= data.allCategories[i].name %></button>
				<% } %>
				
                <!--
				<button data-filter=".cat1">Creative</button>
                <button data-filter=".cat2">Branding</button>
                <button data-filter=".cat3">Wordpress</button>
                <button data-filter=".cat4">Photography</button>
				-->
            </div>
            <div class="portfolio-style">
                <div class="row grid">
					
					<% for(var i = 0; i < data.allPortfolioEntries.length; i++){ %>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item <% for(var a = 0; a < data.allPortfolioEntries[i].categories.length; a++){%> cat-<%= data.allPortfolioEntries[i].categories[a].id %><% } %>">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="<%= data.allPortfolioEntries[i].images[0].url %>" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="/portfolio/<%= data.allPortfolioEntries[i].slug %>"><%= data.allPortfolioEntries[i].projectname %></a></h3>
                                    <!--
									<a class="img-poppu" href="assets/img/portfolio/equal/1.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
									-->
                                </div>
                            </div>					
                        </div>	
                    </div>
					<% } %>
					
					<!--
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat2 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/2.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/2.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>					
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat3 cat4">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/3.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/3.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>				
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat4 cat2">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/4.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>						
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat1 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/5.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/5.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>						
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat3 cat4">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/6.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/6.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>						
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat2 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/7.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/7.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>						
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat1 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/8.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/8.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>					
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat2 cat4">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/9.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/9.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>					
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat1 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/10.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/10.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>						
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat1 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/11.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/11.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>					
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item cat1 cat3">
                        <div class="single-portfolio portfolio-hover mb-30">
                            <div class="portfolio-img-text">
                                <div class="portfolio-img">
                                    <a href="#">
                                        <img src="assets/img/portfolio/equal/12.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="portfolio-title">
                                    <h3><a href="single-portfolio-1.html">New York</a></h3>
                                    <a class="img-poppu" href="assets/img/portfolio/equal/12.jpg">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>					
                        </div>						
                    </div>
					-->
                </div>
                <div class="load-more text-center pt-50">
                    <a href="/"><i class="fa fa-refresh"></i> Load More</a>
                </div>		
            </div>
		</div>
		<!-- portfolio area end -->
		<!-- testimonials area start -->
		<div class="testimonials-area-three gray-bg">
		    <div class="row">
		        <div class="col-md-4 col-sm-12">
		            <div class="testimonials-title">
		                <h4>udtalelser</h4>
		                <h2>Hvad siger mine kunder om mig ?</h2>
		            </div>
		        </div>
		        <div class="col-md-8 col-sm-12">
                    <div class="testimonials-3-active owl-carousel">
                        <div class="testimonials-img-text">
                            <div class="testimonials-img-3">
                                <img src="assets/img/testimonial/3.png" alt="">
                            </div>
                            <div class="testimonials-text-3">
                                <i class="fa fa-quote-right"></i>
                                <p>Lorem Khaled Ipsum is a major key to success. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Fan luv. I’m giving you cloth talk, cloth.</p>
                                <h4>Mr. banding</h4>
                            </div>
                        </div>
                        <div class="testimonials-img-text">
                            <div class="testimonials-img-3">
                                <img src="assets/img/testimonial/3.png" alt="">
                            </div>
                            <div class="testimonials-text-3">
                                <i class="fa fa-quote-right"></i>
                                <p>Lorem Khaled Ipsum is a major key to success. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Fan luv. I’m giving you cloth talk, cloth.</p>
                                <h4>Mr. banding</h4>
                            </div>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!-- testimonials area end -->
		<!-- footer area start -->
		<% include partials/footer.ejs %>
		<!-- footer area end -->
        
        
        
        
        
        
        
        
		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
